*  {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Inter", serif;
    color: #353A47;
}

.vinil-ff {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
}

.content-box {
    max-width: 1200px;
    margin: 0 auto;
}

.green, .attack, .grass, #grass {
    background-color: #90C8AC;
}

.red, .defense, .fire, #fire {
    background-color: #E17F6F;
}

.blue, .hp, .water, #water {
    background-color: #A6B6D7;
}

.white, .normal, #normal {
    background-color: #E5E6E6;
}

.brown, .fighting, #fighting {
    background-color: #967D65;
}

.yellow, .special-defense, .electric, #electric {
    background-color: #EACB5C;
}

.purple, .special-attack, .poison, #poison {
    background-color: #BA93BE;
}

.pink, .speed, .psychic, #psychic {
    background-color: #F9D0D4;
}

.light-blue, .ice, #ice {
    background-color: #B4E4EE;
}

.dark-brown, .ground, #ground {
    background-color: #C2A488;
}

.sky-blue, .flying, #flying {
    background-color: #B2D2E8;
}

.lime, .bug, #bug {
    background-color: #A4C764;
}

.dark-gray, .rock, #rock {
    background-color: #B1A292;
}

.dark-purple, .ghost, #ghost {
    background-color: #735D9A;
}

.deep-blue, .dragon, #dragon {
    background-color: #6C79DB;
}

.charcoal, .dark, #dark {
    background-color: #5A5A5A;
}

.metal-gray, .steel, #steel {
    background-color: #B8B8D0;
}

.soft-pink, .fairy, #fairy {
    background-color: #F4BDC9;
}


.d-none {
    display: none;
}

#overlay{
    width: 100%;
    background-color: #ffffffd4;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
}

input {
    border-radius: 4px;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 12px;   
}

#overlayLoading{
    width: 100%;
    background-color: #ffffffd4;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-content img {
    width: 100px;
}

.loading-content p{
    text-align: center;
    font-weight: bold;
}

#content {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 24px 0;
}

.card {
    width: 160px;
    height: 240px;
    position: relative;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card:hover {
    cursor: pointer;
    scale: 1.08;
}

.img-container {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: 0;
    z-index: 2; 
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 90%; 
}

.card-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    z-index: 1; 
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    padding: 4px 8px;
}

.name-id-box {
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
}

.pokemon-id {
    font-size: 14px;
}

.pokemon-types-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 14px;
}

.pokemon-types-box p {
    padding: 5px;
    background-color: #edf0f4;
    border-radius: 4px;
    border: 1px solid #353A47;
}

.card-info p {
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
}

.pokemon-name {
    font-weight: bold;
    font-size: 18px;
}

#loadMoreBtnContainer {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

button {
    font-size: 20px;
    background-color: #90C8AC;
    border-radius: 4px;
    padding: 12px;
    border: none;
    font-weight: bold;
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    cursor: pointer;
}

@media(max-width: 480px) {
    header {
        flex-direction: column;
        margin: 24px 0;
    }
}