:root {
    --dark-grey: #292F36;
    --teal: #4ECDC4;
    --white: #F7FFF7;
    --light-rose: #FFC2C2;
    --rose: #FF6B6B;
    --yellow: #FFE66D;
    }

*  {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Inter", serif;
}

.vinil-ff {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
}

.content-box {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#content {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 24px 0;
}

#card {
    width: 260px;
    height: 400px;
    position: relative;
    background: white; /* Card background color */
    border-radius: 10px; /* Rounded corners for the card */
    overflow: hidden; /* Ensures elements don't overflow the card boundaries */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.img-container {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; 
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden;  */
}

.img-container img {
    width: 100%; 
}

.card-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: #f1f1f1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; 
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.card-info p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
    color: #333; /* Text color */
    text-align: center;
}